* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.forcast-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: red;
  width: 100%;
  padding: 0 50px;
  margin-top: 20px;
}

.day-forcast {
  cursor: pointer;
  padding: 10px;
}

.detailed-day {
  background: rgba(0,0,0,.8);
  height: 100%;
  width: auto;
}